/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9fafc;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.second-section {
  max-width: 900px;
  text-align: center;
  padding: 40px 20px;
}

.second-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.second-section h2 span {
  color: #ff6b2d;
}

.subtitle {
  margin: 10px 0 40px;
  color: #666;
  font-size: 0.95rem;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  width: 260px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}



.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}